<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Links</h1>

    <table class="table">
      <tbody>
      <% if current_user&.admin %>
        <tr>
          <td>
            <%= form_with url: admin_github_all_fetch_path  do |form| %>
              <%= form.submit 'all_fetch', class: 'p'%>
            <% end %>
          </td>
        </tr>
      <% end  %>
      <tr>
        <td>
          <%= link_to 'ruby_versions', ruby_versions_path %>
        </td>
      </tr>
      </tbody>
    </table>

    <h1>Repositories</h1>

    <table class="table">
      <thead>
      <tr>
        <th>repository</th>
        <th>health_rate</th>
      </tr>
      </thead>

      <tbody>
      <% @repo_and_dependency.each do |repo, dependency| %>
          <tr>
            <td>
              <%= link_to repo.github_path, github_user_repository_path(user_id: repo.github_user.name, id: repo.repository) %>
            </td>
            <td>
              <%= (dependency.health_rate * 100.0).floor(2) %>%
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-2"></div>
</div>
