<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">

    <%= form_with url: admin_github_repositories_path do |form| %>
      <div class="row">
        <%= form.label :github_repository, class: "col-sm-2" %>
        <%= form.text_field :github_repository %>
      </div>
      <div class="row">
        <%= form.label :branch, class: "col-sm-2" %>
        <%= form.text_field :branch, value: 'master' %>
      </div>

      <div class="row">
        <%= form.fields(:bundle_files) do |fields| %>
          <%= fields.fields(:rubygem) do |rubygem| %>
            <%= form.label :gemfile_path, class: "col-sm-2" %>
            <%= rubygem.text_field :gemfile_path, value: './' %> <br />

            <%= form.label :ruby_versions_path, class: "col-sm-2" %>
            <%= rubygem.text_field :ruby_versions_path, value: './' %>
          <% end %>
        <% end %>
      </div>

      <div class="row">
        <div class="col-sm-2"></div>
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-2"></div>
</div>
