<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h1>Github repository</h1>
    <p><%= @repository.github_path %></p>

    <h1>Commit hash</h1>
    <% if @revision %>
      <p><%= @revision.created_at.rfc3339 %></p>
      <p><%= @revision.commit_hash%></p>
    <% else %>
      <p>now checking master branch...</p>
    <% end %>

    <h1>Health Rate</h1>
    <% if @revision&.done? %>
      <p><%= (@dependency_graph.health_rate * 100.0).floor(2).to_s %>%</p>
    <% else %>
      <p>fetching data...please wait</p>
    <% end %>

    <h1>Dependency Graph</h1>
    <% if @revision&.done? %>
      <%= render partial: 'dependency', dependency_graph: @dependency_graph %>
    <% else %>
      <p>fetching data...please wait</p>
    <% end %>
  </div>
  <div class="col-sm-2"></div>
</div>
